# Python
__pycache__/
*.pyc
*.pyo
*.pyd


.pgdata/
.idea/

# Virtual environment
.env
.venv/
venv/

# IDE / Editor
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store

# Database
*.db

# pytest cache
.pytest_cache/

# Uvicorn / log files
*.log
